<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="blog.store.mapper.BlogMapper">
	<resultMap type="Blog" id="blogMap">
		<id property="id" column="blog_id"/>
		<result property="title" column="title"/>
		<association property="author" column="author_id"
			select="blog.store.mapper.AuthorMapper.findAuthor"
			javaType="Author" jdbcType="VARCHAR" 
		/>
		<!-- javaType="Author" -> findAuthor의 리턴값,
		 	jdbcType="VARCHAR" -> db에서 가져오는 매개변수 -->
		 	
		<collection property="posts" column="blog_id" ofType="Post"
			select="blog.store.mapper.PostMapper.findPostsByBlogId"
			javaType="Arraylist" jdbcType="NUMERIC"
		/>
	</resultMap>
	
	<select id="findBlogsByTitle" parameterType="map" resultMap="blogMap">
		SELECT blog_id, title, author_id
		FROM blog_tb
		WHERE title like '%${title}%'
		OR author_id = #{authorId}
	</select>
	
	<select id="findBlogByAuthorId" parameterType="string" resultMap="blogMap">
		SELECT blog_id, title, author_id
		FROM blog_tb
		WHERE author_id = #{authorId}
	</select>
	
	<insert id="registBlog" parameterType="Author">
		INSERT INTO blog_tb (blog_id, title, author_id)
		VALUES(blog_seq.nextval, #{title}, #{author.id})
	</insert>
	
	<delete id="deleteBlog" parameterType="int">
		DELETE
		FROM blog_tb
		WHERE blog_id = #{id}		
	</delete>
	
	
</mapper>