<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 아직 사용 안하는 듯 -->
  <mapper namespace="resources.CustomerMapper">
  
  	<!-- config에 type as를 썼으므로..Customer = domain.Customer 패키지 명이 필요없다 -->
  	<!-- 보내야 될 매개변수가 두개 이상이라면.. -->
  	<insert id="insertCustomer" parameterType="Customer"> 
  		INSERT INTO customer (id, name, age) 
  		VALUES(#{id}, #{name}, #{age})
  		<!-- domain클래스에서 #{id}의 get메소드를 불러오는 방법 -->
  	</insert>
  	
  	<!-- 리턴타입이 list일지라도 list를 resultType으로 하지 않는다, 리스트에 저장 될 타입으로 설정해야 한다 -->
  	<select id="selectAll" resultType="Customer">
  		SELECT id, name, age 
  		FROM customer
  	</select>
  	
  	<update id="update" parameterType="Customer">
  		UPDATE customer SET name = #{name}, age = #{age} WHERE id = #{id}
  	</update>
  	
  	<delete id="delete" parameterType="String">
  		DELETE FROM customer WHERE id = #{id}
  	</delete>
  	
  </mapper>